<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="css\estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ae8c544131.js" crossorigin="anonymous"></script>
</head>
<body>
 <!---------------------------------------- HEADEDR ------------------------------------------->

 <header class="navegador">
  <a class="logo" href="https://mercadoliebre-nico-livingston.heroku.com/"><img src="images\logo-mercado-liebre.svg"></a>

  <div class="barra-busqueda"><input type="search" value="" placeholder="&#xF002; Buscar productos" style="font-family:Arial, FontAwesome">
  </div>

  <div class="compraCuotas"><i class="fas fa-hand-holding-usd"></i>
      Comprá en cuotas y sin tarjeta de crédito
  </div>


  <ul class="categorias">
      <li><a href="#">Ofertas</a></li>
      <li><a href="#">Tiendas Oficiales</a></li>
      <li><a href="#">Vender</a></li>
      <li><a href="#">Ayuda</a></li>
  </ul>

  <ul class="perfil">
    <li><a href="register">Creá tu cuenta</a><i class="far fa-address-card"></i></li>
    <li><a href="login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
      <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
  </ul>

  <div class="burger-menu">
      <i class="fas fa-bars"></i>
      </div>
</header>

 <!---------------------------------------- FORM DE LOGIN ------------------------------------------->
    <form action="/views/login.html" method="POST">
        <div class="control-form">
          <input type="text" name="usuario" placeholder="Nombre de usuario" class="introducir">
        </div>
    
        <div class="control-form">
          <input type="password" name="contraseña" placeholder="Contraseña" class="introducir">
        </div>
    
        <div class="boton">
          <button type="submit">Enviar</button>
        </div>
    
      </form>
    <!---------------------------------------- FOOTER ------------------------------------------->

<footer>

  <div class="footers">
  <div class="iconos"> <i class="fas fa-credit-card"></i></div>
<h3>Pagá con tarjeta o en efectivo</h3>
<p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. 
   ¡Y siempre es seguro!</p>
  </div>
  <div class="footers">
   <div class="iconos"><i class="fas fa-gift"></i></div>
<h3>Envío gratis desde $ 2.500</h3>
<p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. 
   Es un beneficio de Mercado Puntos.</p>
  </div>
  <div class="footers">
   <div class="iconos"><i class="fas fa-user-shield"></i></div>
<h3>Seguridad, de principio a fin</h3>
<p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
</p>
</div>
<h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>

</footer>
</body>
</html>